version: 2

references:
  container_config: &container_config
    docker:
      - image: arti.tw.ee/circle_openjdk8:latest
        user: circleci
      - image: circleci/mariadb:10.3
        name: mysql1
        command: "mysqld --ssl=0
            --character-set-server=utf8mb4
            --innodb_flush_log_at_trx_commit=0
            --innodb_flush_method=O_DIRECT_NO_FSYNC
            --innodb_flush_neighbors=0
            --character-set-server=utf8mb4
            --collation-server=utf8mb4_unicode_ci
            --transaction-isolation=READ-COMMITTED
            --innodb_autoinc_lock_mode=2"
        environment:
          MYSQL_ROOT_PASSWORD: example-password-change-me
          MYSQL_DATABASE: tw-tasks-test
      - image: circleci/postgres:12
        name: postgres1
        environment:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: example-password-change-me
      - image: bitnami/zookeeper:3.5.5
        name: zk-service1
        environment:
          ALLOW_ANONYMOUS_LOGIN: "yes"
          JVMFLAGS: "-Xmx512m -Xms64m"
      - image: bitnami/zookeeper:3.4.14
        name: zk1
        environment:
          ALLOW_ANONYMOUS_LOGIN: "yes"
          JVMFLAGS: "-Xmx512m -Xms64m"
      - image: wurstmeister/kafka:2.12-2.2.0
        name: kafka1
        environment:
          KAFKA_BROKER_ID: 1
          KAFKA_ZOOKEEPER_CONNECT: zk1:2181
          KAFKA_LISTENERS: PLAINTEXT://:9092
          KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
          KAFKA_MESSAGE_MAX_BYTES: '10000012'
          KAFKA_ZOOKEEPER_SESSION_TIMEOUT_MS: 20000
          KAFKA_UNCLEAN_LEADER_ELECTION_ENABLE: "true"
          KAFKA_LEADER_IMBALANCE_CHECK_INTERVAL_SECONDS: 5
      - image: mongo:4.2.8
        hostname: mongodb
        environment:
          MONGO_INITDB_ROOT_USERNAME: twuser
          MONGO_INITDB_ROOT_PASSWORD: example-password-change-me
          MONGO_INITDB_DATABASE: twtask
          MONGO_REPLICA_SET_NAME: twtask-mongo-replicaset
        healthcheck:
          test: test $$(echo "rs.initiate().ok || rs.status().ok" | mongo -u twuser -p example-password-change-me --quiet) -eq 1
          interval: 10s
          start_period: 30s
        command: [ "--replSet", "twtask-mongo-replicaset", "--bind_ip_all" ]
    resource_class: medium+
    environment:
      TERM: vt100
      GRADLE_OPTS: "-Dorg.gradle.console=plain -XX:TieredStopAtLevel=1 -server -Djava.security.egd=file:/dev/./urandom -Xmx768m
       -XX:+HeapDumpOnOutOfMemoryError"
      IN_CIRCLE: true
      MARIADB_TCP_3306: 3306
      MARIADB_TCP_HOST: mysql1
      KAFKA_TCP_9092: 9092
      KAFKA_TCP_HOST: kafka1
      ZOOKEEPER_TCP_2181: 2181
      ZOOKEEPER_TCP_HOST: zk-service1
      POSTGRES_TCP_HOST: postgres1
      POSTGRES_TCP_5432: 5432
      MONGO_TCP_HOST: mongo1
      MONGO_TCP_27017: 27017
jobs:
  test:
    <<: *container_config
    steps:
      - checkout
      - restore_cache:
          key: tw-tasks-executor-gradle-v1-{{ checksum "build.gradle" }}-{{ checksum "gradle.properties" }}
      - run:
          name: Run tests
          command: ./gradlew --refresh-dependencies clean check -Dspring.profiles.include=circle --console=plain --no-daemon --stacktrace
      - save_cache:
          paths:
            - ~/.gradle/
            - ~/.m2/
          key: tw-tasks-executor-gradle-v1-{{ checksum "build.gradle" }}-{{ checksum "gradle.properties" }}
      - store_test_results:
          path: ./integration-tests/build/test-results/
      - store_test_results:
          path: ./tw-tasks-core/build/test-results/
      - store_test_results:
          path: ./tw-tasks-core-spring-boot-starter/build/test-results/
      - store_test_results:
          path: ./tw-tasks-core-test/build/test-results/
      - store_test_results:
          path: ./tw-tasks-incidents/build/test-results/
      - store_test_results:
          path: ./tw-tasks-incidents-spring-boot-starter/build/test-results/
      - store_test_results:
          path: ./tw-tasks-jobs/build/test-results/
      - store_test_results:
          path: ./tw-tasks-jobs-spring-boot-starter/build/test-results/
      - store_test_results:
          path: ./tw-tasks-jobs-test/build/test-results/
      - store_test_results:
          path: ./tw-tasks-kafka-listener/build/test-results/
      - store_test_results:
          path: ./tw-tasks-kafka-listener-spring-boot-starter/build/test-results/
      - store_test_results:
          path: ./tw-tasks-kafka-publisher/build/test-results/
      - store_test_results:
          path: ./tw-tasks-kafka-publisher-spring-boot-starter/build/test-results/
      - store_test_results:
          path: ./tw-tasks-kafka-publisher-test/build/test-results/
      - store_test_results:
          path: ./tw-tasks-management/build/test-results/
      - store_test_results:
          path: ./tw-tasks-management-spring-boot-starter/build/test-results/
      - run:
          name: gather reports
          command: |
            tar -zcvf ~/reports.tar.gz $( find . -type f -regex '.*/build/reports/.*' )
          when: always
      - store_artifacts:
          path: ~/reports.tar.gz
          target: reports
          when: always

workflows:
  version: 2
  test:
    jobs:
      - test
