<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <property name="LOG_PATTERN"
              value="%d %level [%logger{0}][%thread][%X{X-B3-TraceId:-}][%X{xRequestId}|%X{twTaskVersionId}|%X{lhvMessageId}] - %m%n"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="CONSOLE_LOG_PATTERN" value="${LOG_PATTERN}"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty name="loggingFile" source="loggingFile"/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${loggingFile}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${loggingFile}.%d</fileNamePattern>
            <maxHistory>365</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="com.transferwise.tasks" level="INFO"/>
    <logger name="com.transferwise.tasks.demoapp" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
